<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesaj Ugurla Gonderildi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Mesaj Ugurla Gonderildi</h1>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Ana Səhifə</a>
    </div>
</body>
</html>
