<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epin.az</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Epin.az</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Ana Səhifə</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Mehsullar</a>
                </li>
                <!-- Səbət keçidi -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Səbət</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Qeydiyyat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Giris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Əlaqə</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        <!-- Burada alt şablonun məzmunu yerləşəcək -->
        {% endblock body %}
    </div>

</body>
</html>
